streamlit>=1.30.0
pandas>=2.2.0
numpy>=1.26.4  # 这个版本已移除distutils依赖
joblib>=1.3.0
shap@git+https://github.com/slundberg/shap.git@master  # 修复了np.obj2sctype问题的开发版
matplotlib>=3.8.0
scipy>=1.11.4
plotly>=5.15.0
